@import "defaults.less";
@import "Components/TopInfoComponent.less";
@import "Components/TabBarComponent.less";

@default-background-color:#f1f2f5;

.GrayLayout{
    width:100%;
    height:54%;
    background-color:@default-background-color;
}
/* End of BagList style */